@using OtelMvcProje.Models.Entity;
@model List<TblHakkimda>


@{
    ViewBag.Title = "Hakkimda";
    Layout = "~/Views/Shared/_OtelVitrin.cshtml";
}

<section class="w3l-breadcrumb">
    <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">
            <h2>Hakkımızda</h2>
            <p><a href="/AnaSayfa/Index">Ana Sayfa</a> &nbsp; / &nbsp; Hakkımızda</p>
        </div>
    </div>
</section>
@foreach (var x in Model)
{
    <div class="w3l-about-us best-rooms py-5">
        <div class="container py-lg-5 py-sm-4">
            <div class="maghny-gd-1">
                <div class="row about-text">
                    <div class="col-lg-6">
                        <h3 class="title-big">@x.Hakkimda1</h3>

                    </div>
                    <div class="col-lg-6">
                        <p>
                            @x.Hakkimda2
                        </p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="maghny-gd-1 col-lg-4 col-md-6">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/hotels-starter/hotels-starter/assets/images/about1.jpg">
                                <figcaption class="w3set-hny">
                                    <div>
                                        <h4>En ferah odalar</h4>
                                        <p>Klimalı ve Kavaltı servisi ile</p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-lg-4 col-md-6 mt-md-0 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/hotels-starter/hotels-starter/assets/images/about2.jpg">
                                <figcaption class="w3set-hny">
                                    <div>
                                        <h4>Spa ve Sauna</h4>
                                        <p>Her Gün Açık </p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="maghny-gd-1 col-lg-4 col-md-6 mt-lg-0 mt-4">
                        <div class="maghny-grid">
                            <figure class="effect-lily border-radius">
                                <img class="img-fluid" src="~/hotels-starter/hotels-starter/assets/images/about3.jpg">
                                <figcaption class="w3set-hny">
                                    <div>
                                        <h4>Hem Aile Hem Tek kişilerer</h4>
                                        <p>Özel Odalar </p>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="w3-about-2" id="features">
        <div class="w3-services-ab py-5">
            <div class="container py-lg-4 py-md-3">
                <div class="title-section">
                    <div class="title-line">
                    </div>
                </div>
                <div class="row w3-services-grids">
                    <div class="col-lg-9 w3-services-right-grid pl-lg-5 mx-auto">
                        <h4 class="mb-md-5 mb-4">En İyi Hizmetimizi Müşterilerimize Sunuyoruz.</h4>
                        <div class="fea-gd-vv row">
                            <div class="col-md-6">
                                <div class="float-lt feature-gd">
                                    <div class="icon"> <span class="fa fa-file-text-o" aria-hidden="true"></span></div>
                                    <div class="icon-info">
                                        <h5>Hoşgeldin İçeceği</h5>
                                        <p>
                                            Siz müşterilerimizi en iyi şekilde karşılamak ve yol yorgunluğunuzu gidermek adına ücretsiz içecek hizmetimiz.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-md-0 mt-4">
                                <div class="float-mid feature-gd">
                                    <div class="icon"> <span class="fa fa-trophy" aria-hidden="true"></span></div>
                                    <div class="icon-info">
                                        <h5>Bisiklet Yolları</h5>
                                        <p>
                                            Spor yapmak ve aynı zamanda çevreyi gezerek keyifli vakit geçirmeniz adına bisiklet yolları sizlerin hizmetinde.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4 pt-md-2">
                                <div class="float-rt feature-gd">
                                    <div class="icon"> <span class="fa fa-clone" aria-hidden="true"></span></div>
                                    <div class="icon-info">
                                        <h5>WIFI Alanları</h5>
                                        <p>
                                            Otelimizin her köşesinde fiber hızlı internetimize erişimde problem yaşamayacak ve internet ağına bağlı kalacaksınız.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 mt-4 pt-md-2">
                                <div class="float-lt feature-gd">
                                    <div class="icon"> <span class="fa fa-bullseye" aria-hidden="true"></span></div>
                                    <div class="icon-info">
                                        <h5>Yüzme Havuzları</h5>
                                        <p>
                                            Hotelimizin dört bir yanında bulunan yetişkin ve çocuk havuzlarımız ile rahatlayacak ve eğlenceli vakit geçireceksiniz.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- team -->
    @Html.Action("Ekibimiz", "Default")
    
    <!-- team -->

    <section class="w3l-stats">
        <div class="main-w3 py-5">
            <div class="container py-lg-3">
                <div class="row align-items-center">
                    <div class="col-lg-6 title">
                        <h3 class="title-big">@x.Hakkimda3</h3>
                        <p class="mt-4">
                            @x.Hakkimda4
                        </p>
                    </div>
                    @Html.Action("istatistik","Default")
                    
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-testimonials">
        <!-- main-slider -->
        <div class="testimonials py-5">
            <div class="container text-center py-lg-3">
                <div class="heading text-center mx-auto">
                    <h3 class="title-big text-center">Görüşlerimiz</h3>
                </div>
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="owl-testimonial owl-carousel owl-theme">
                            <div class="item">
                                <div class="slider-info mt-lg-4 mt-3">
                                    <div class="img-circle">
                                        <img src="~/hotels-starter/hotels-starter/assets/images/team1.jpg" class="img-fluid rounded" alt="client image">
                                    </div>
                                    <div class="message">
                                        Misafirlerimizin rahat ve konforlu bir tatil yapabilmesi için tasarlanan otelimiz çocuklu
                                        aileler, yeni evlenen çifler, arkadaş grupları gibi bir çok kişiye hitap etmektedir. 
                                    </div>
                                    <div class="name">- Altan</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider-info mt-lg-4 mt-3">
                                    <div class="img-circle">
                                        <img src="~/hotels-starter/hotels-starter/assets/images/team2.jpg" class="img-fluid rounded" alt="client image">
                                    </div>
                                    <div class="message">
                                        Hayatın karmaşası içerisinde var olan mutluluklarımız anılarımızı oluşturur. Hayatınıza bir parça güzel anı
                                        katabileceğimizi düşündüğümüz siz değerli misafirlerimizi aramızda görmek istiyoruz.
                                    </div>
                                    <div class="name">- Ali</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider-info mt-lg-4 mt-3">
                                    <div class="img-circle">
                                        <img src="~/hotels-starter/hotels-starter/assets/images/team3.jpg" class="img-fluid rounded" alt="client image">
                                    </div>
                                    <div class="message">
                                        İnsanı en mutlu eden şeylerin başında yemek, sosyal aktiviteler ve çeşitli eşyalar gelebilir.
                                        Bakınca iyi hissedeceğiniz ve yemekten bıkmayacağınız çok çeşitli bir deneyim yaşayacaksınız.
                                    </div>
                                    <div class="name">- Özlem</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="slider-info mt-lg-4 mt-3">
                                    <div class="img-circle">
                                        <img src="~/hotels-starter/hotels-starter/assets/images/team4.jpg" class="img-fluid rounded" alt="client image">
                                    </div>
                                    <div class="message">
                                        Çeşitli aktiviteler ve eğlence odalarımız ile birlikte ailenizle eğlenirken aynı zamanda
                                        rahatlamak için çeşitli hizmetlerimize bayılacaksınız. Sizleri aramızda görmek bir mutluluk.
                                    </div>
                                    <div class="name">- Gizem</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /main-slider -->
    </section>


}
