
@using OtelMvcProje.Models.Entity
@model List<TblRezervasyon>

@{
    ViewBag.Title = "Rezervasyonlarim";
    Layout = "~/Views/Shared/_MisafirLayout.cshtml";
}
<br />
<h2>Rezervasyonlarım</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>Misafir Ad Soyad</th>
        <th>Giriş Tarihi</th>
        <th>Çıkış Tarihi</th>
        <th>Kişi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.TblMisafir.AdSoyad</td>
            <td>@item.GirisTarih</td>
            <td>@item.CikisTarih</td>
            <td>@item.Kisi</td>
        </tr>
    }
</table>
@ViewBag.a
